  <nav id='mainNav' class='navbar navbar-full  navbar-dark navbar-fixed-top'>
         <div id='minimenu' class='collapse navbar-toggleable-xs'>
            <ul class='nav navbar-nav text-uppercase' style="black">
                <li class='nav-item'><a class='nav-link' href='/'>home</a></li>
                <li class='nav-item'><a class='nav-link' href='/about'>about</a></li>                
                <li class='nav-item'><a class='nav-link' href='/contact'>contact</a></li>
                <li class='nav-item'><a class='nav-link' href='/query'>query</a></li>

            </ul>
        </div>
    </nav>