<!DOCTYPE html>
<html lang="en">
<head>
   {{>links}}
</head>
<body>
    {{>Navbar}}
  <section id="header" class="d-flex align-items-center">
           <div class="container-fluid">
                <div class="row">
                    <div class='col-10 mx-auto'>
                        <div class="row">
                            <div class="col-md-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex justify-content-center flex-column">
                                <h1> Welcome to <strong class="brand-name"> The Sudo Club </strong></h1>
                                <h4 class="my-3"> Frontend UI is done using ReactJS</h4>
                                <div class="mt-3">
                                    <NavLink to='/' class="btn-get-started"> click here </NavLink>
                                </div>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 header-img">
                            <img src="https://images.pexels.com/photos/5605422/pexels-photo-5605422.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" style="height:60vh">
                             </div> 
                        </div>
                    </div>
                </div>
            </div>
        </section>

</body>
</html>
