<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
</head>
<body>
    {{>Navbar}}
    <h1> This is example of handlebars --- Template Engines</h1>
    <h2> Dynamic content {{props}} </h2>
    <pre><p style="font-size: 25px;"> to use dynamic content pass props likewise in React
        and pass an object in indexjs.
    </p> </pre>

</body>
</html>