<!DOCTYPE html>
<html lang="en">
<head>
   {{>links}}
</head>
<body>
    {{>Navbar}}
  <section id="header" class="d-flex align-items-center">
           <div class="container-fluid">
                <div class="row">
                    <div class='col-10 mx-auto'>
                        <div class="row">
                            <h1> This is query page </h1>
                            <h1> Your name is {{name}} your location is {{city}} </h1>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 header-img">
                            <img src="https://images.pexels.com/photos/5605422/pexels-photo-5605422.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" style="height:60vh">
                             </div> 
                        </div>
                    </div>
                </div>
            </div>
        </section>

</body>
</html>
